{% extends "layout.html" %}

{% block title %} Todo {% endblock %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h1>Todo:</h1>
    <table class="table table-striped">
        <tr>
            <td>
                <form method="post" action="{{ app.request.baseurl }}/todo/togglestatus/{{ todo.id }}">
                    <button type="submit" class="btn btn-xs btn-default" title="{{ todo.completed ? 'Mark as Incompleted' : 'Mark as Completed' }}">
                        <span class="glyphicon glyphicon-{{ todo.completed ? 'ok' : 'unchecked' }} glyphicon-white"></span>
                    </button>
                </form>
            </td>
            <td>
                {% if todo.completed %}
                    <strike>{{ todo.description }}</strike>
                {% else %}
                    {{ todo.description }}
                {% endif %}
            </td>
            <td>
                <form method="post" action="{{ app.request.baseurl }}/todo/delete/{{ todo.id }}">
                    <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                </form>
            </td>
        </tr>
    </table>
</div>

{% endblock %}
